yair-nadlan/docs/nadlan-leads.json
{
  "updatedAt": "2026-05-25T00:19:33.832Z",
  "createdAt": "2026-05-24T20:25:48.490Z",
  "id": "WXUl7gBbzo5uov3S",
  "name": "נדל\"ן - קבלת לידים",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "real-estate-leads",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        304
      ],
      "webhookId": "fcc28927-4e7c-4543-9267-52c8d5fd4954"
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "אתה עוזר לסוכן נדל\"ן לסווג פניות. קבל פרטי פנייה וסווג אותה לאחת מ-3 קטגוריות בלבד: דחוף / רגיל / לא רלוונטי.\n\nקריטריונים:\n- דחוף: תקציב גבוה, קנייה, צורך מיידי\n- רגיל: שכירות או תקציב בינוני\n- לא רלוונטי: תקציב נמוך מאוד, בקשה לא ברורה\n\nענה רק עם שם הקטגוריה ללא הסבר נוסף."
            },
            {
              "content": "={{ 'שם: ' + $json.body.name + '\\nטלפון: ' + $json.body.phone + '\\nסוג עסקה: ' + $json.body.type + '\\nתקציב: ' + $json.body.budget }}"
            }
          ]
        },
        "options": {
          "maxTokens": 50,
          "temperature": 0
        },
        "requestOptions": {}
      },
      "id": "node-openai",
      "name": "OpenAI - סיווג פנייה",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        480,
        304
      ],
      "credentials": {
        "openAiApi": {
          "id": "qzdVnZB3XqtSP6X2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1Sv64TO864rpLbPSEbgSIa10l3EDiAQ6ztOKb4ebakY4",
          "cachedResultName": "לידים נדל\"ן אוטומציה"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "גיליון1",
          "cachedResultName": "גיליון1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "שם": "={{ $('Webhook').first().json.body.name }}",
            "טלפון": "={{ $('Webhook').first().json.body.phone }}",
            "סוג": "={{ $('Webhook').first().json.body.type }}",
            "תקציב": "={{ $('Webhook').first().json.body.budget }}",
            "סיווג": "={{ $json.message.content.trim() }}",
            "תאריך": "={{ $now.format('dd/MM/yyyy HH:mm') }}"
          },
          "schema": [
            {
              "id": "שם",
              "displayName": "שם",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "טלפון",
              "displayName": "טלפון",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "סוג",
              "displayName": "סוג",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "תקציב",
              "displayName": "תקציב",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "סיווג",
              "displayName": "סיווג",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "תאריך",
              "displayName": "תאריך",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "node-sheets",
      "name": "Google Sheets - שמירת ליד",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mnmtj1ipk3XMuhzX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5976775736",
        "text": "={{ '🏠 ליד חדש - ' + $('OpenAI - סיווג פנייה').first().json.message.content.trim() + '\\n\\n👤 שם: ' + $('Webhook').first().json.body.name + '\\n📞 טלפון: ' + $('Webhook').first().json.body.phone + '\\n🔑 סוג: ' + $('Webhook').first().json.body.type + '\\n💰 תקציב: ' + $('Webhook').first().json.body.budget + '\\n\\n⏰ ' + $now.format('dd/MM/yyyy HH:mm') }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "node-telegram",
      "name": "Telegram - הודעה לסוכן",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        304
      ],
      "webhookId": "0756d859-f807-4a53-be7f-54ba2e7ce2c0",
      "credentials": {
        "telegramApi": {
          "id": "Er4L2fziBOnY8xGi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://n8n.srv1257358.hstgr.cloud/api/v1/workflows/WXUl7gBbzo5uov3S",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkYzkxYTM2ZS01NzAxLTQwZGYtOGRlMi02ODAxMzczOTYwN2IiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzc5NjY4MDk3LCJleHAiOjE3ODIyNTIwMDB9.ctcTkgQ3z8ClkPfZXe8BQ8PkPovTancv-zMAGtTd_Bw"
            }
          ]
        },
        "options": {}
      },
      "id": "node-http-export",
      "name": "ייצוא workflow מ-n8n API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        304
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "mode": "name",
          "value": "yairrazvani-crypto"
        },
        "repository": {
          "mode": "name",
          "value": "nadlan-automation"
        },
        "filePath": "yair-nadlan/docs/nadlan-leads.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "backup: update nadlan workflow"
      },
      "id": "node-github-new",
      "name": "גיבוי ל-GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1440,
        304
      ],
      "webhookId": "79bba205-b0e8-4b03-a01d-0d68111744e8",
      "credentials": {
        "githubApi": {
          "id": "xvlcDedKC3k8jq2g",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI - סיווג פנייה",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - סיווג פנייה": {
      "main": [
        [
          {
            "node": "Google Sheets - שמירת ליד",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - שמירת ליד": {
      "main": [
        [
          {
            "node": "Telegram - הודעה לסוכן",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - הודעה לסוכן": {
      "main": [
        [
          {
            "node": "ייצוא workflow מ-n8n API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ייצוא workflow מ-n8n API": {
      "main": [
        [
          {
            "node": "גיבוי ל-GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "51f609f6-deda-40dc-93ce-8ae6aef86734",
  "activeVersionId": "51f609f6-deda-40dc-93ce-8ae6aef86734",
  "versionCounter": 70,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-24T20:25:48.497Z",
      "createdAt": "2026-05-24T20:25:48.497Z",
      "role": "workflow:owner",
      "workflowId": "WXUl7gBbzo5uov3S",
      "projectId": "LXjN3tstcAMQ7lnX",
      "project": {
        "updatedAt": "2026-01-29T22:30:16.925Z",
        "createdAt": "2026-01-08T21:32:32.517Z",
        "id": "LXjN3tstcAMQ7lnX",
        "name": "yair yair.razvani@gmail.com <yair.razvani@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "dc91a36e-5701-40df-8de2-68013739607b",
        "projectRelations": [
          {
            "updatedAt": "2026-01-08T21:32:32.517Z",
            "createdAt": "2026-01-08T21:32:32.517Z",
            "userId": "dc91a36e-5701-40df-8de2-68013739607b",
            "projectId": "LXjN3tstcAMQ7lnX",
            "user": {
              "updatedAt": "2026-05-24T22:16:14.000Z",
              "createdAt": "2026-01-08T21:32:32.133Z",
              "id": "dc91a36e-5701-40df-8de2-68013739607b",
              "email": "yair.razvani@gmail.com",
              "firstName": "yair",
              "lastName": "yair.razvani@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-08T21:38:59.691Z",
                "personalization_survey_n8n_version": "2.2.5",
                "companySize": "20-99",
                "companyType": "systems-integrator",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "qIDyv73i_jlrQbjSMC2Ub",
                "userActivatedAt": 1770796815210,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771107990506
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-25T00:19:35.000Z",
    "createdAt": "2026-05-25T00:19:33.833Z",
    "versionId": "51f609f6-deda-40dc-93ce-8ae6aef86734",
    "workflowId": "WXUl7gBbzo5uov3S",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "real-estate-leads",
          "options": {}
        },
        "id": "node-webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          240,
          304
        ],
        "webhookId": "fcc28927-4e7c-4543-9267-52c8d5fd4954"
      },
      {
        "parameters": {
          "resource": "chat",
          "prompt": {
            "messages": [
              {
                "role": "system",
                "content": "אתה עוזר לסוכן נדל\"ן לסווג פניות. קבל פרטי פנייה וסווג אותה לאחת מ-3 קטגוריות בלבד: דחוף / רגיל / לא רלוונטי.\n\nקריטריונים:\n- דחוף: תקציב גבוה, קנייה, צורך מיידי\n- רגיל: שכירות או תקציב בינוני\n- לא רלוונטי: תקציב נמוך מאוד, בקשה לא ברורה\n\nענה רק עם שם הקטגוריה ללא הסבר נוסף."
              },
              {
                "content": "={{ 'שם: ' + $json.body.name + '\\nטלפון: ' + $json.body.phone + '\\nסוג עסקה: ' + $json.body.type + '\\nתקציב: ' + $json.body.budget }}"
              }
            ]
          },
          "options": {
            "maxTokens": 50,
            "temperature": 0
          },
          "requestOptions": {}
        },
        "id": "node-openai",
        "name": "OpenAI - סיווג פנייה",
        "type": "n8n-nodes-base.openAi",
        "typeVersion": 1.1,
        "position": [
          480,
          304
        ],
        "credentials": {
          "openAiApi": {
            "id": "qzdVnZB3XqtSP6X2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1Sv64TO864rpLbPSEbgSIa10l3EDiAQ6ztOKb4ebakY4",
            "cachedResultName": "לידים נדל\"ן אוטומציה"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "גיליון1",
            "cachedResultName": "גיליון1"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "שם": "={{ $('Webhook').first().json.body.name }}",
              "טלפון": "={{ $('Webhook').first().json.body.phone }}",
              "סוג": "={{ $('Webhook').first().json.body.type }}",
              "תקציב": "={{ $('Webhook').first().json.body.budget }}",
              "סיווג": "={{ $json.message.content.trim() }}",
              "תאריך": "={{ $now.format('dd/MM/yyyy HH:mm') }}"
            },
            "schema": [
              {
                "id": "שם",
                "displayName": "שם",
                "type": "string",
                "display": true,
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "טלפון",
                "displayName": "טלפון",
                "type": "string",
                "display": true,
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "סוג",
                "displayName": "סוג",
                "type": "string",
                "display": true,
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "תקציב",
                "displayName": "תקציב",
                "type": "string",
                "display": true,
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "סיווג",
                "displayName": "סיווג",
                "type": "string",
                "display": true,
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "תאריך",
                "displayName": "תאריך",
                "type": "string",
                "display": true,
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "node-sheets",
        "name": "Google Sheets - שמירת ליד",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          720,
          304
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "mnmtj1ipk3XMuhzX",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "5976775736",
          "text": "={{ '🏠 ליד חדש - ' + $('OpenAI - סיווג פנייה').first().json.message.content.trim() + '\\n\\n👤 שם: ' + $('Webhook').first().json.body.name + '\\n📞 טלפון: ' + $('Webhook').first().json.body.phone + '\\n🔑 סוג: ' + $('Webhook').first().json.body.type + '\\n💰 תקציב: ' + $('Webhook').first().json.body.budget + '\\n\\n⏰ ' + $now.format('dd/MM/yyyy HH:mm') }}",
          "additionalFields": {
            "parse_mode": "HTML"
          }
        },
        "id": "node-telegram",
        "name": "Telegram - הודעה לסוכן",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          960,
          304
        ],
        "webhookId": "0756d859-f807-4a53-be7f-54ba2e7ce2c0",
        "credentials": {
          "telegramApi": {
            "id": "Er4L2fziBOnY8xGi",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://n8n.srv1257358.hstgr.cloud/api/v1/workflows/WXUl7gBbzo5uov3S",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-N8N-API-KEY",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkYzkxYTM2ZS01NzAxLTQwZGYtOGRlMi02ODAxMzczOTYwN2IiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzc5NjY4MDk3LCJleHAiOjE3ODIyNTIwMDB9.ctcTkgQ3z8ClkPfZXe8BQ8PkPovTancv-zMAGtTd_Bw"
              }
            ]
          },
          "options": {}
        },
        "id": "node-http-export",
        "name": "ייצוא workflow מ-n8n API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          304
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "mode": "name",
            "value": "yairrazvani-crypto"
          },
          "repository": {
            "mode": "name",
            "value": "nadlan-automation"
          },
          "filePath": "yair-nadlan/docs/nadlan-leads.json",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "backup: update nadlan workflow"
        },
        "id": "node-github-new",
        "name": "גיבוי ל-GitHub",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1440,
          304
        ],
        "webhookId": "79bba205-b0e8-4b03-a01d-0d68111744e8",
        "credentials": {
          "githubApi": {
            "id": "xvlcDedKC3k8jq2g",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "OpenAI - סיווג פנייה",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI - סיווג פנייה": {
        "main": [
          [
            {
              "node": "Google Sheets - שמירת ליד",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - שמירת ליד": {
        "main": [
          [
            {
              "node": "Telegram - הודעה לסוכן",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram - הודעה לסוכן": {
        "main": [
          [
            {
              "node": "ייצוא workflow מ-n8n API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ייצוא workflow מ-n8n API": {
        "main": [
          [
            {
              "node": "גיבוי ל-GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "yair yair.razvani@gmail.com",
    "name": "Version 51f609f6",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-25T00:19:35.117Z",
        "id": 68,
        "workflowId": "WXUl7gBbzo5uov3S",
        "versionId": "51f609f6-deda-40dc-93ce-8ae6aef86734",
        "event": "activated",
        "userId": "dc91a36e-5701-40df-8de2-68013739607b"
      }
    ]
  }
}